extends layout

block content
  h1= title
<<<<<<< HEAD
  p Welcome to B-Works #{title}

  a(href="../donar-module") DONATE
=======
  p Welcome to #{title}
>>>>>>> d8da1b25cb2e90435e2e9e6c97ace8b20509886b
